.get_table .td-actions{
   width: 150px;
}

.get_table tr td, .get_table tr th{
   text-align: center;
}

.cerrar_frm{
   float: right;
   margin-right: 20px;
}
  
.pagos{
   margin-left: 70px;
}

.navbar-inner{
   background: rgb(11,72,107) !important;
}

.navbar-search .search-query{
     background-color: rgb(241,241,241);
}

a{
   color: rgb(221,229,0);
}

.dropdown-menu .active>a:hover { background:rgb(11,72,107);}

.shortcuts .shortcut:hover {
   background: rgb(221,229,0);
   color: #000;
}

.modal-lg{
   width: 900px;
}

#carusel-index{
   margin-left: 0px;
}

.subnavbar .container > ul > li.active > a{
     border-bottom: 3px solid rgb(20,176,166);
}

.modal-content form {
   margin-bottom: 0px;
}

.configpublic{
   width: 93% !important;
}  

#nav-configpublic{
   margin-bottom: 5px;
}

.table_configpublic{
   margin-top: 10px;
}
  
.radio + .radio, .checkbox + .checkbox {
  margin-top: 10px;
}

input.aweform[type=text] {
   width: 100% !important
}

.img-rounded{
     max-width: 150px;
     max-height: 150px;
}

.imagen_noticia{
   max-width: 484px;
  max-height: 252px;
}